body{
    background-color: #4242ff;
    font: normal 15pt Arial;

}

header{
    color: #ffffff;
    text-align: center;
}

section{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #000000;
}

footer{
    color: #ffffff;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.select {
    text-align: center;
}
